/*This page is the styles for the order form*/

p, h3, li, label{
    font-family: "Hind Madurai", sans-serif;
    }
  h1, h2{
    font-variant: small-caps;
    font-family: "Hind Madurai", sans-serif;
    padding-right: 5%;
  }
  h1 {
    text-align: center;
}
  h2 {
    text-align: left;
    }
  nav {
    outline: tomato solid 10px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  button, select,input, textarea {
    font-size: inherit;
    font-size: 100%;
    box-sizing: border-box;
    display: block;
    margin: 1rem;
  }
  img {
    display: flex;
    margin: 1rem;
  }
  input[type=submit]{
   width: 10%;
   background-color: tomato;
  }
  input[type=radio]{

  }
  .payment {
    padding: 1rem;
    border: none;
  }

  .checkbox label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    cursor: pointer;
      }
  .checkmark:after {
    display: block;
}
