<style>
  h1{
    color:#618685;
  }
  h1, h2, h3, h4, h5, li, p{
    font-family: "verdana"
  }
  p{
    color:#80ced6;
  }
  p,h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  }
  body{
  background-color: white;
  }
  img {
    border:8px solid #66ffcc;
  }
  img {
    float: none
  }
  img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
  }
  a:link {
    color: #80ced6
  }
  a:visited {
    color: green
  }
  a:hover{
    color: orange
  }
</style>
