
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap');
<script src="https://kit.fontawesome.com/61876e87f1.js"></script>


  h3 {
  font-family: "Hind Madurai", sans-serif;
  }
  p {
    font-family: "Hind Madurai", sans-serif;
    }
  h1, h2{
    font-variant: small-caps;
    font-family: "Hind Madurai", sans-serif;
    padding-right: 5%;

  }
  h1 {
    text-align: center;
  }
  .desc {
    font-family: "Hind Madurai", sans-serif;
  }
  nav {
  outline: tomato solid 10px;
  margin: auto;
  padding: 20px;
  text-align: center;
  }
  img {
    border:1px solid black;

  }
  a:link {
    color: black;
  }
  a:visited {
    color: #ff5c33;
  }
  a:hover{
    color: orange
  }
  .box {
    display: flex;
    flex-direction: row;
        }
    .right{
      float: right;
            }
  div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  width: 180px;
   }
 div.gallery:hover {
   border: 1px solid #777;
 }
 div.gallery img {
   width: 100%;
   height: auto;
   padding-right: 5%;
 }
 div.desc {
  padding: 15px;
  text-align: center;
}
footer {
  margin: 10px;
  background-position: bottom;
  background-color: tomato;
  text-align: center;
  Clear: both;
}
.clear {
  clear: both;
}
