<style>
  h1, h2, h3, p {
  font-family: "Arial", sans-serif;
  }
  h1, h2{
    font-variant: small-caps;
  }
  h1 {
    text-align: center;
  }
  nav {
  border: 2px solid black;
  outline: purple solid 10px;
  margin: auto;
  padding: 20px;
  text-align: center;
  }
  img {
    border:1px solid black;

  }
  a:link {
    color: blue
  }
  a:visited {
    color: green
  }
  a:hover{
    color: orange
  }
  article {
    width: 520px;
    padding: 10px;
    border: 5px solid purple;
    margin: 10px;
  }
  aside{
    float: left;
    width: 200px;
    padding: 10px;
    border: 5px solid purple;
    margin: 0;
  }
  div.gallery {
   margin: 5px;
  border: 1px solid #ccc;
  float: left;
   width: 180px;
 }
 div.gallery:hover {
   border: 1px solid #777;
 }
 div.gallery img {
   width: 100%;
   height: auto;
 }
 div.desc {
  padding: 15px;
  text-align: center;
}
  </style>
